@model IEnumerable<EduPlatform.Data.Quiz>

@{
    ViewData["Title"] = "Quiz List";
}

<h1>Список тестів</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити новий тест</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Course)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.TimeLimitMinutes)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Course.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.TimeLimitMinutes)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a class="btn btn-sm btn-success"
                       asp-controller="TakeQuiz"
                       asp-action="Start"
                       asp-route-id="@item.Id">
                        Почати
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
